<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <div class="container-fluid"><a href="/" class="navbar-brand">Project Citrep</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
				<li role="presentation" class="nav-item">
					<a href="/form" class='nav-link {{ "active" if report }}'>Report</a>
				</li>
				{%if user.role.numeric > 0%}
				<li role="presentation" class="nav-item">
					<a href="/search" class="nav-link {{ "active" if search }}">Search</a>
				</li>
				{%endif%} 
				{%if user.role.numeric > 4%}
				<li role="presentation" class="nav-item">
					<a href="/userman" class="nav-link {{ "active" if userman }}">User Management</a>
				</li>
				{%endif%}
            </ul>
            <ul class="nav navbar-nav ml-auto">
                {%if not user%}
				<li class="nav-item" role="presentation">
					<a class="nav-link" href="/auth/eveonline">
						<img src="/login.png">
					</a>
				</li>
                {%else%}
				<li class="nav-item" role="presentation"><span class="nav-link">{{user.name}}</span></li>
				{%endif%}
                {%if user%}
				<li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Logout</a></li>
				{%endif%}
            </ul>
        </div>
    </div>
</nav>